#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
}
.formAddNewPost{
  display: flex;
  justify-content: center;
  align-items: center;

  button, p, input {
    margin-left: 20px;
    padding: 7px;
  }
  input{
    /* padding: 5px; */
  }
  p{
  }
}
.postContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .post{
    border: 1px solid gray;
    width: 250px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
  }

}